/* Basic Styling */
head,
body {
  font-family: "monospace", sans-serif;
}

.container {
  width: 800px;
  height: 550px;
  margin: 60px auto;
}

li {
  margin-bottom: 0.5em;
}

/* Responsive */
@media (max-width: 850px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
  }

  p {
    text-align: center;
  }

  img {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.8em;
    margin: 0.3em 0;
  }

  h4 {
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  a {
    font-size: 1em;
  }

  .bmc-button {
    margin-top: 20px;
  }
}
